.picture {
  padding: 10rem;
  background-color: white;
  background-image: url(../../images/pier.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  box-shadow: 0 3000px rgba(0, 0, 0, 0.3) inset;

  div {
    display: block;
  }
  h1 {
    /*color: white;
    //font-size: 4.429rem;
    font-size: 16.429rem;
    font-family: Montserrat;
    letter-spacing: 1.25px;
    font-weight: 500;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    text-align: center;*/

    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;
    text-align: center;
    font-family: Montserrat;
    font-size: 20.429rem;
    text-shadow: 0 0 8px rgba(0, 0, 0, 8);
  }

  h2 {
    color: white;
    font-size: 10rem;
    font-family: Montserrat;
    letter-spacing: 1.25px;
    font-weight: 400;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
    text-align: center;
  }

  p {
    display: block;
    color: white;
    font-weight: 400;
    font-size: 8rem;
    font-family: Montserrat;
    //letter-spacing: 1.25px;
    // font-weight: 400;
    // text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .view_btn {
    color: white;
    background-color: transparent;
    letter-spacing: 1px;
    border-width: 1px;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 2.5;
    border-radius: 8px;
  }

  .download_btn {
    color: white;
    border-color: #00aded;
    background-color: #00aded;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 2.5;
    border-radius: 4px;
  }

  @include respond-to("small") {
    h1 {
      color: white;
      font-size: 20.429rem;
      font-family: Montserrat;
      letter-spacing: 1.25px;
      font-weight: 500;
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
      text-align: center;
    }

    h2 {
      color: white;
      //font-size: 5rem;
      font-family: Montserrat;
      letter-spacing: 1.25px;
      font-weight: 400;
      text-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
      text-align: center;
    }

    p {
      color: white;
      font-weight: 400;
      font-family: Montserrat;
      //letter-spacing: 1.25px;
      // font-weight: 400;
      // text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
      text-align: center;
    }
    .buttons {
      display: flex;
      justify-content: space-around;
    }

    .view_btn {
      color: white;
      background-color: transparent;
      letter-spacing: 2px;
      border-width: 2px;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 2.5;
      border-radius: 8px;
    }

    .download_btn {
      color: white;
      border-color: #00aded;
      background-color: #00aded;
      letter-spacing: 2px;
      //border-width: 2px;
      text-transform: uppercase;
      font-size: 18px;
      //line-height: 1.3333333;
      line-height: 2.5;
      border-radius: 8px;
    }
  }
}
